/*  Table of Contents
    - - - - - - - - -
    General
    Header & Navigation
    Banner
    Features
    Stores
    Screenshots
    Video
    Review
    Social
    Team
    Pricing
    Updates
    Modal(video)
    Contacts
    Footer

    media(1399)
    media(1229)
    media(991)
    media(767)
    media(500)
    media(400)
    - - - - - - - - -
*/

/* General */
html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #fff;
    color: #3c3c3b;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

h1 {
    margin: 0 0 18px;
    color: white;
    font-size: 65px;
    font-weight: 300;
}

h2 {
    margin: 0;
    font-size: 55px;
    font-weight: 300;
    text-align: center;
}

.container {
    width: 1204px;
}

.subheading {
    max-width: 787px;
    margin: 0 auto 70px;
    color: #384049;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    line-height: 27px;
}

.image-holder {
    background-color: #d9dfe9;
}

.image-holder > img {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.section-dark .section-content {
    background-color: rgba(56, 64, 73, 0.6);
}

.section-dark h2 {
    padding-top: 66px;
    color: #fff;
}

.section-dark .subheading {
    margin: 26px auto 0;
    color: #fff;
}

.section-light-grey {
    background-color: #f7f7f7;
}

.section-light {
    background-color: #fff;
}

.section-light, .section-light-grey h2 {
    padding-top: 52px;
    color: #384049;
}

.section-light, .section-light-grey .subheading {
    margin: 26px auto 0;
    color: #384049;
}

.section-deep .section-content {
    background-color: rgba(38, 41, 46, 0.8);
}

.section-deep h2 {
    padding-top: 79px;
    color: #fff;
}

.section-deep .subheading {
    color: #fff;
    margin: 27px auto 0;
}


.btn {
    overflow: hidden;
    padding: 18px 38px;
    border: 2px #fff solid;
    border-radius: 32px;
    color: #fff;
    font-size: 19px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    -webkit-transition: border-color 0.5s, color 0.5s;
    transition: border-color 0.5s, color 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.btn:hover {
    -webkit-transition: 0s background-color 0.4s;
    -moz-transition: 0s background-color 0.4s;
    -o-transition: 0s background-color 0.4s;
    transition: 0s background-color 0.4s;
}

.btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: #37474f;
    z-index: -1;
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
    transform-origin: 0% 100%;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s, background-color 0.5s;
}

.btn:hover:before {
    opacity: 1;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.btn.active.focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn:active:focus, 
.btn:focus {
    outline: none;
}

/* Header & Navigation */
.header {
    position: absolute;
    z-index: 9999;
    top: 44px;
    left: 0;
    width: 100%;
}

.navbar {
    min-height: 86px;
    border-width: 0;
    margin-bottom: 0;
}

.navbar-default {
    background-color: transparent;
}

.navbar-brand {
    position: relative;
    z-index: 9999;
    display: inline-block;
    width: 86px;
    height: 86px;
    border-radius: 20px 19px 19px 20px;
    background-color: #fff;
    font-size: 76px;
    font-weight: 100;
    text-align: center;
    line-height: 56px;
}

.navbar .container .navbar-brand {
    margin-left: 0px;
}

.navbar-brand {
    -webkit-transition: .4s transform;
    -moz-transition: .4s transform;
    -o-transition: .4s transform;
    transition: .4s transform;
}

.navbar-brand.small {
    -ms-transform: scale(0.1);
    -webkit-transform: scale(0.1);
    -o-transform: scale(0.1);
    -moz-transform: scale(0.1);
    transform: scale(0.1);
}

.btn.btn-nav {
    float: right;
    padding: 0;
    border: none;
    border-radius: 0;
    margin: 28px 9px;
    background-color: transparent;
    opacity: 1;
    line-height: inherit;
    text-transform: none;
    -webkit-transition: .3s opacity .3s;
    -moz-transition: .3s opacity .3s;
    -o-transition: .3s opacity .3s;
    transition: .3s opacity .3s;
}

.btn.btn-nav:before {
    content: none;
}

.btn.btn-nav:active {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.btn.btn-nav:hover, 
.btn.btn-nav:focus {
    color: #D60C48;
}

.btn.btn-nav:hover .btn-nav-text, 
.btn.btn-nav:focus .btn-nav-text {
    color: #D60C48;
}

.btn.btn-nav:hover .btn-nav-icon > .icon-bar, 
.btn.btn-nav:focus .btn-nav-icon > .icon-bar {
    background-color: #D60C48;
}

.btn.btn-nav.closed {
    opacity: 0;
    cursor: default;
    -webkit-transition: .3s opacity 0s;
    -moz-transition: .3s opacity 0s;
    -o-transition: .3s opacity 0s;
    transition: .3s opacity 0s;
}

.btn-nav-text {
    display: inline-block;
    margin-right: 12px;
    color: #fff;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 300;
    vertical-align: middle;
}

.btn-nav-icon {
    display: inline-block;
    width: 21px;
    height: 15px;
    vertical-align: middle;
}

.btn-nav-icon > .icon-bar {
    display: block;
    width: 21px;
    height: 2px;
    margin-bottom: 4px;
    background-color: #fff;
}

.btn-nav-open {
    position: relative;
    z-index: 9998;
}

.nav-holder {
    position: relative;
}

.nav-wrapper {
    position: absolute;
    z-index: 9999;
    right: 0;
    top: 0;
    height: 86px;
    width: 100%;
    white-space: nowrap;
}

.nav-wrapper.animate {
    overflow: hidden;
}

.nav-wrapper.closed {
    overflow: hidden;
    z-index: 9998;
}

.nav-wrapper.closed .nav {
    right: -100%;
}

.nav-wrapper.animate .navbar-nav > li > .dropdown-menu,
.nav-wrapper.closed .navbar-nav > li > .dropdown-menu {
    display: none;
}

.nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 86px;
    border-top: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: .8s right .0s cubic-bezier(0.68, 0.4, 0.01, 1.25);
    -moz-transition: .8s right .0s cubic-bezier(0.68, 0.4, 0.01, 1.25);
    -o-transition: .8s right .0s cubic-bezier(0.68, 0.4, 0.01, 1.25);
    transition: .8s right .0s cubic-bezier(0.68, 0.4, 0.01, 1.25);
}

.nav.in {
    height: auto;
}

.navbar-nav > li > a {
    position: relative;
}

.navbar-nav > li > a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    -webkit-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.navbar-nav > li:last-child > a:after {
    content: none;
}

.navbar-nav > li > a:hover:after, 
.navbar-nav > li > a:focus:after {
    width: 100%;
}

.navbar-nav > li > .dropdown-menu {
    display: block;
    top: -400px;
    border-radius: 5px;
    -webkit-transition: 0.5s all cubic-bezier(0.25, 0.1, 0.02, 1.4);
    -moz-transition: 0.5s all cubic-bezier(0.25, 0.1, 0.02, 1.4);
    -o-transition: 0.5s all cubic-bezier(0.25, 0.1, 0.02, 1.4);
    transition: 0.5s all cubic-bezier(0.25, 0.1, 0.02, 1.4);
}

.navbar-nav > li.open > .dropdown-menu {
    top: 100%;
}

.navbar-nav > li > dropdown-menu > li > a {
    padding: 8px 20px;
}

.dropdown-menu > li > a:focus, 
.dropdown-menu > li > a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar-default .navbar-brand {
    color: #D60C48;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #D60C48;
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-nav > li > a {
    padding: 0;
    margin: 33px 15px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a:after {
    background-color: #D60C48;
}

.navbar-default .navbar-nav > li:last-child > a:hover {
    color: #D60C48;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.6);
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:focus, 
.navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent;
    color: #fff;
}

.navbar-default .navbar-nav > .open > a:focus:after, 
.navbar-default .navbar-nav > .open > a:hover:after {
    background-color: transparent;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}

/* Banner */
.banner-wrapper {
    position: relative;
    z-index: 100;
    background-size: cover;
}

.banner-wrapper .section-content {
    background: -moz-linear-gradient(0deg, rgba(208, 12, 62, 0.8) 0%, rgba(208, 12, 62, 0.8) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(208, 12, 62, 0.8)), color-stop(100%, rgba(208, 12, 62, 0.8)));
    background: -webkit-linear-gradient(0deg, rgba(208, 12, 62, 0.8) 0%, rgba(208, 12, 62, 0.8) 100%);
    background: -o-linear-gradient(0deg, rgba(208, 12, 62, 0.8) 0%, rgba(208, 12, 62, 0.8) 100%);
    background: -ms-linear-gradient(0deg, rgba(208, 12, 62, 0.8) 0%, rgba(208, 12, 62, 0.8) 100%);
    background: linear-gradient(90deg, rgba(208, 12, 62, 0.8) 0%, rgba(208, 12, 62, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$theme-color', endColorstr='#D60C48', GradientType=1 );
}

.banner {
    margin-top: 110px;
}

.banner-decoration {
    float: left;
    width: 400px;
    height: 655px;
    margin-left: 128px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-decoration .image-holder {
    margin: 122px 55px 0;
    width: 287px;
    height: 510px;
}

.banner-decoration-android .image-holder {
    margin: 107px 56px 0;
}

.banner-content {
    float: right;
    max-width: 402px;
    margin: 155px 207px 0 0;
}

.banner-description {
    margin: 0 0 45px 6px;
    color: #ebebeb;
    font-size: 19px;
    font-weight: 300;
    line-height: 31px;
}

.banner-content .btn-primary {
    margin-left: 5px;
}

.banner-content .btn-default {
    margin-left: 21px;
}

.btn-default {
    background-color: transparent;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

.btn-default:hover, 
.btn-default:focus, 
.btn-default:active, 
.btn-default:active:focus {
    border-color: #D60C48;
    background-color: #D60C48;
    color: #fff;
}

.btn-default:hover:before {
    background-color: #D60C48;
}

.btn-primary {
    border-color: #D60C48;
    background-color: #D60C48;
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary:active:focus {
    border-color: #fff;
    background-color: #fff;
    color: #D60C48;
}

.btn-primary:hover:before {
    background-color: #fff;
}

/* Features */
.features {
    margin-top: 139px;
    margin-bottom: 66px;
    text-align: center;
}

.features-left {
    float: left;
    font-size: 30px;
    line-height: 27px;
    text-align: right;
}

.features-right {
    float: right;
    font-size: 30px;
    line-height: 27px;
    text-align: left;
}

.feature {
    position: relative;
    display: block;
    width: 354px;
    margin-bottom: 106px;
    vertical-align: top;
}

.feature:last-child {
    margin: 0;
}

.feature-name {
    margin-bottom: 17px;
    color: #362f2d;
    font-size: 30px;
    font-weight: 300;
}

.feature-desc {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}

.features-left .feature {
    padding-right: 96px;
	text-align: center;
}

.features-right .feature {
    padding-left: 100px;
}

.feature-disk {
    position: absolute;
    top: -21.5px;
    right: 0;
    display: inline-block;
    width: 74px;
    height: 74px;
    border: 1px solid #dee2e6;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s; 
}

.features-right .feature-disk {
    right: auto;
    left: -4px;
	text-align: center;
}

.feature-disk:hover {
    border-color: #D60C48;
    cursor: pointer;
    background-color: #D60C48;
}

.feature-disk .icon, .feature-disk .fa {
	color:#A3AAB0;
    width: 30px;
    height: 32px;
    margin: 21px auto;
}

.feature-disk .icon:hover, .feature-disk .fa:hover {
	color:#fff;
}

.feature-disk .share {
    background-image: url(../img/ic-share.png);
}

.feature-disk .friends {
    background-image: url(../img/ic-friends.png);
}

.feature-disk .chat {
    background-image: url(../img/ic-chat.png);
}

.feature-disk .star {
    background-image: url(../img/ic-star.png);
}

.feature-disk .refresh {
    background-image: url(../img/ic-locate.png);
}

.feature-disk:hover .icon {
    background-image: url(../img/ic-pin-hover.png);
}

.feature-disk:hover .share {
    background-image: url(../img/ic-share-hover.png);
}

.feature-disk:hover .friends {
    background-image: url(../img/ic-friends-hover.png);
}

.feature-disk:hover .chat {
    background-image: url(../img/ic-chat-hover.png);
}

.feature-disk:hover .star {
    background-image: url(../img/ic-star-hover.png);
}

.feature-disk:hover .refresh {
    background-image: url(../img/ic-locate-hover.png);
}

.features-decoration {
    display: inline-block;
    width: 365px;
    height: 650px;
    margin-top: -70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    vertical-align: top;
}

.features-decoration .image-holder {
    width: 269px;
    height: 477px;
    margin: 77px 48px;
    background-color: transparent;
}

.features-decoration-android .image-holder {
    width: 268px;
    height: 476px;
    margin: 79px 47px;
}

.features-content {
    margin-top: 140px;
    text-align: center;
}

/* Stores */
.stores {
    padding: 157px 0 200px;
    font-size: 0px;
    text-align: center;
}

.store {
    display: inline-block;
    width: 358px;
    height: 118px;
    min-width: 340px;
    border: 2px solid #fff;
    border-radius: 100px;
    background-color: rgba(38, 41, 46, 0.5);
    white-space: nowrap;
    text-align: center;
    -webkit-transition: 0.3s background-color;
    -moz-transition: 0.3s background-color;
    -o-transition: 0.3s background-color;
    transition: 0.3s background-color;
}

.store:first-child {
    float: left;
}

.store:last-child {
    float: right;
}

.store:hover, 
.store:focus {
    cursor: pointer;
    background-color: #fff;
    text-decoration: none;
    -webkit-transition: 0.3s background-color;
    -moz-transition: 0.3s background-color;
    -o-transition: 0.3s background-color;
    transition: 0.3s background-color;
}

.store-icon {
    padding-right: 21px;
    color: #fff;
    font-size: 57px;
    vertical-align: middle;
    line-height: 118px;
    -webkit-transition: 0.3s color;
    -moz-transition: 0.3s color;
    -o-transition: 0.3s color;
    transition: 0.3s color;
}

.store svg {
    width: 69px;
    height: 51px;
    fill: #fff;
    -webkit-transition: 0.3s fill;
    -moz-transition: 0.3s fill;
    -o-transition: 0.3s fill;
    transition: 0.3s fill;
}

.store:hover .store-icon, 
.store:focus .store-icon {
    color: #384049;
    -webkit-transition: 0.3s color;
    -moz-transition: 0.3s color;
    -o-transition: 0.3s color;
    transition: 0.3s color;
}

.store:hover svg, 
.store:focus svg {
    fill: #384049;
    -webkit-transition: 0.3s fill;
    -moz-transition: 0.3s fill;
    -o-transition: 0.3s fill;
    transition: 0.3s fill;
}

.store-name {
    display: inline-block;
    color: #fff;
    font-size: 35px;
    font-weight: 300;
    vertical-align: middle;
    line-height: 113px;
    -webkit-transition: 1s color;
    -moz-transition: 1s color;
    -o-transition: 1s color;
    transition: 1s color;
}

.store:hover .store-name, 
.store:focus .store-name {
    color: #384049;
    -webkit-transition: .3s color;
    -moz-transition: .3s color;
    -o-transition: .3s color;
    transition: .3s color;
}

/* Screenshots */
.screenshots h2 {
    padding-top: 85px;
}

.carousel-wrapper {
    position: relative;
    margin: 75px 0 50px;
}

.carousel-decoration {
    position: absolute;
    top: 0;
    left: 50%;
    width: 365px;
    height: 650px;
    margin-left: -182.5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.screenshot-carousel {
    height: 695px;
}

.screenshot-carousel .owl-stage-outer {
    height: 650px;
}

.screenshot-carousel .owl-item {
    opacity: 0.25;
    text-align: center;
    cursor: pointer;
    -webkit-transition: 1s opacity;
    -moz-transition: 1s opacity;
    -o-transition: 1s opacity;
    transition: 1s opacity;
}

.screenshot-carousel .center {
    opacity: 1;
    -webkit-transition: 1s opacity;
    -moz-transition: 1s opacity;
    -o-transition: 1s opacity;
    transition: 1s opacity;
}

.screenshot-carousel .neighbor {
    opacity: 0.65;
    -webkit-transition: 0.5s opacity 0s;
    -moz-transition: 0.5s opacity 0s;
    -o-transition: 0.5s opacity 0s;
    transition: 0.5s opacity 0s;
}

.screenshot-carousel .image-holder {
    width: 270px;
    height: 478px;
    margin: 77px auto 0;
    background: center no-repeat;
    background-size: cover;
    -webkit-transition: .1s transform;
    -moz-transition: .1s transform;
    -o-transition: .1s transform;
    transition: .1s transform;
}

.screenshot-carousel .image-holder.translate {
    opacity: 0.65;
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
}

.screenshot-carousel .owl-item img {
    display: inline;
    width: 100%;
    height: 100%;
}

.screenshot-carousel .owl-dots {
    margin-top: 24px;
    text-align: center;
}

.screenshot-carousel .owl-dot {
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 100%;
    margin: 0 6px;
    background-color: #f4f2f2;
}

.screenshot-carousel .owl-dot:hover {
    background-color: #fcb5ad;
}

.screenshot-carousel .owl-dot.active {
    background-color: #D60C48;
}

/* Video */
.section-video {
    position: relative;
    height: 852px;
}

.section-video h2 {
    position: absolute;
    z-index: 10000;
    top: 66px;
    left: 0px;
    width: 100%;
    color: #fff;
}

.section-video .subheading {
    position: absolute;
    z-index: 10000;
    top: 153px;
    left: 50%;
    margin: 0 0 0 -385px;
    color: #fff;
}

.video {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.video .vjs-big-play-button {
    z-index: 10000;
    top: 50%;
    left: 50%;
    width: 178px;
    height: 178px;
    border: 10px solid white;
    border-radius: 100%;
    margin-top: -89px;
    margin-left: -89px;
    background-color: rgba(255, 255, 255, 0.25);
}

.video .vjs-big-play-button:before {
    z-index: 9999;
    font-size: 128px;
    vertical-align: middle;
    line-height: 158px;
}

.video-play {
    position: absolute;
    z-index: 10000;
    top: 50%;
    left: 50%;
    width: 178px;
    height: 178px;
    padding-left: 10px;
    border: 10px solid white;
    border-radius: 100%;
    margin-top: -89px;
    margin-left: -89px;
    background-color: rgba(255, 255, 255, 0.25);
    color: #fff;
    font-size: 90px;
    vertical-align: middle;
    line-height: 158px;
    text-align: center;
}

.modal-video {
    z-index: 99999;
}

.video-start-btn {
    position: relative;
    z-index: 99998;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* Review */
.section-review h2 {
    padding-top: 84px;
}

.reviews-carousel {
    margin: 60px 0 66px;
}

.review-wrapper {
    margin: auto 13px;
}

.review {
    position: relative;
    padding: 52px 75px 52px 146px;
    border-radius: 4px;
    margin-top: 0;
    background-color: #fff;
    color: #d5dae3;
    font-size: 19px;
    font-weight: 300;
    line-height: 34px;
    -webkit-transition: .4s color, .4s background-color, .4s margin-top;
    -moz-transition: .4s color, .4s background-color, .4s margin-top;
    -o-transition: .4s color, .4s background-color, .4s margin-top;
    transition: .4s color, .4s background-color, .4s margin-top;
}

.review:before {
    content: '';
    position: absolute;
    top: 55px;
    left: 72px;
    width: 36px;
    height: 73px;
    background: url("../img/qoutes_gray.png") no-repeat top;
    -webkit-transition: .4s background;
    -moz-transition: .4s background;
    -o-transition:.4s background;
    transition: .4s background;
}

.review:hover {
    background-color: #fcb5ad;
    color: #fff;
    cursor: pointer;
    -webkit-transition: 1s color, 1s background-color;
    -moz-transition: 1s color, 1s background-color;
    -o-transition: 1s color, 1s background-color;
    transition: 1s color, 1s background-color;
}

.reviews-carousel .center .review {
    margin-top: 35px;
    background-color: #D60C48;
    color: #fff;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -o-transition: .4s all;
    transition: .4s all;
}

.reviews-carousel .review:hover:before {
    background-image: url("../img/quotes.png");
    -webkit-transition: 1s background-image;
    -moz-transition: 1s background-image;
    -o-transition: 1s background-image;
    transition: .1s background-image;
}

.reviews-carousel .center .review:before {
    background-image: url("../img/quotes.png");
    -webkit-transition: .4s background-image;
    -moz-transition: .4s background-image;
    -o-transition: .4s background-image;
    transition: .4s background-image;
}

.reviews-carousel .center .review:after {
    border-top-color: #D60C48;
    -webkit-transition: .4s border-top-color;
    -moz-transition: .4s border-top-color;
    -o-transition: .4s border-top-color;
    transition: .4s border-top-color;
}

.reviews-carousel .review:after {
    content: '';
    position: absolute;
    bottom: -31px;
    left: 77px;
    border: 16px solid transparent;
    border-top: 16px solid transparent;
}

.reviews-carousel .owl-item .author-icon {
    width: 69px;
    height: 69px;
    border-radius: 100%;
}

.review-author {
    margin: 30px 0 35px 57px;
    opacity: 0;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -o-transition: .4s all;
    transition: .4s all;
}

.author-name {
    color: #3c3c3b;
    font-size: 23px;
    font-weight: 300;
}

.author-company {
    color: #96a3ad;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.reviews-carousel .center .review-author {
    margin-bottom: 0;
    opacity: 1;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -o-transition: .4s all;
    transition: .4s all;
}

/* Social */
.social-content {
    padding-left: 0;
    margin: 56px 0 96px 22px;
    text-align: center;
}

.social-content > li {
    display: inline-block;
    width: 94px;
    margin-right: 51px;
    text-align: center;
}

.social-content > li:last-child {
    margin-right: 0;
}

.social-link {
    display: block;
}

.social-link:hover, .social-link:focus {
    cursor: pointer;
    text-decoration: none;
}

.social-icon-holder {
    overflow: hidden;
    width: 74px;
    height: 74px;
    border-radius: 100%;
    margin: 0px auto 16px;
    background-color: #96a3ad;
    -webkit-transition: .3s background-color;
    -moz-transition: .3s background-color;
    -o-transition: .3s background-color;
    transition: .3s background-color;
}

.social-icon {
    position: relative;
    border-radius: 100%;
    color: #96a3ad;
    background-color: #384049;
    font-size: 60px;
    vertical-align: middle;
    line-height: 73px;
    -webkit-transition: .3s color;
    -moz-transition: .3s color;
    -o-transition: .3s color;
    transition: .3s color;
}

.social-icon:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -13px;
    width: 78px;
    height: 78px;
    border: 15px solid #96a3ad;
    border-radius: 100%;
    -webkit-transition: .3s border-color;
    -moz-transition: .3s border-color;
    -o-transition: .3s border-color;
    transition: .3s border-color;
}

.social-icon-symbol {
    background-color: transparent;
    color: #384049;
    font-size: 40px;
    -webkit-transition: .3s background-color, .3s color;
    -moz-transition: .3s background-color, .3s color;
    -o-transition: .3s background-color, .3s color;
    transition: .3s background-color, .3s color;
}

.social-icon-symbol:after {
    content: none;
}

.social-name {
    color: #96a3ad;
    font-size: 19px;
    font-weight: 300;
    -webkit-transition: .3s color;
    -moz-transition: .3s color;
    -o-transition: .3s color;
    transition: .3s color;
}

.social-link:hover .social-icon-holder, 
.social-link:focus .social-icon-holder {
    background-color: #fff;
    -webkit-transition: .3s background-color;
    -moz-transition: .3s background-color;
    -o-transition: .3s background-color;
    transition: .3s background-color;
}

.social-link:hover .social-icon, 
.social-link:focus .social-icon {
    color: #fff;
    -webkit-transition: .3s color;
    -moz-transition: .3s color;
    -o-transition: .3s color;
    transition: .3s color;
}

.social-link:hover .social-icon:after, 
.social-link:focus .social-icon:after {
    border-color: #fff;
    -webkit-transition: .3s border-color;
    -moz-transition: .3s border-color;
    -o-transition: .3s border-color;
    transition: .3s border-color;
}

.social-link:hover .social-icon-symbol, 
.social-link:focus .social-icon-symbol {
    background-color: transparent;
    color: #384049;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}

.social-link:hover .social-name, 
.social-link:focus .social-name {
    color: #fff;
    -webkit-transition: .3s color;
    -moz-transition: .3s color;
    -o-transition: .3s color;
    transition: .3s color;
}

/* Team */
.section-team h2 {
    padding-top: 77px;
}

.team-content {
    margin: 74px 0 94px;
    font-size: 0px;
}

.member {
    display: inline-block;
    width: 345px;
    vertical-align: top;
}

.member:first-child {
    margin-right: 67.5px;
}

.member:last-child {
    margin-left: 67.5px;
}

.member .image-holder {
    position: relative;
    width: 345px;
    height: 332px;
    background: no-repeat center transparent;
    background-size: cover;
}

.member .image-holder > img {
    background-color: #d9dfe9;
    -webkit-transition: .3s opacity;
    -moz-transition: .3s opacity;
    -o-transition: .3s opacity;
    transition: .3s opacity;
}

.member:hover .image-holder > img {
    opacity: 0.25;
    -webkit-transition: .3s opacity;
    -moz-transition: .3s opacity;
    -o-transition: .3s opacity;
    transition: .3s opacity;
}

.member:hover .social-container {
    opacity: 1;
    -webkit-transition: .3s opacity;
    -moz-transition: .3s opacity;
    -o-transition: .3s opacity;
    transition: .3s opacity;
}

.social-container {
    position: absolute;
    top: 50%;
    left: 0;
    opacity: 0;
    width: 100%;
    margin-top: -19px;
    text-align: center;
    -webkit-transition: .3s opacity;
    -moz-transition: .3s opacity;
    -o-transition: .3s opacity;
    transition: .3s opacity;
}

.member-social-link {
    display: inline-block;
    width: 38px;
    height: 38px;
    border: #D60C48 1px solid;
    border-radius: 100%;
    margin: 0 6.5px;
    background-color: #D60C48;
    text-align: center;
    -webkit-transition: .3s background-color;
    -moz-transition: .3s background-color;
    -o-transition: .3s background-color;
    transition: .3s background-color;
}

.member-social-link:hover {
    background-color: transparent;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}

.member-social-link .link-icon {
    background-color: #D60C48;
    color: #fff;
    font-size: 16px;
    vertical-align: middle;
    line-height: 36px;
    -webkit-transition: .3s color, .3s background-color 1s;
    -moz-transition: .3s color, .3s background-color 1s;
    -o-transition: .3s color, .3s background-color 1s;
    transition: .3s color, .3s background-color 1s;
}

.member-social-link:hover .link-icon {
    background-color: transparent;
    color: #D60C48;
    -webkit-transition: .3s color;
    -moz-transition: .3s color;
    -o-transition: .3s color;
    transition: .3s color;
}

.member-post {
    margin-top: 31px;
    color: #96a3ad;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    text-align: left;
}

.member-name {
    margin: 10px 0 25px;
    color: #384049;
    font-size: 30px;
    font-weight: 300;
    line-height: 1;
    text-align: left;
}

.member-description {
    position: relative;
    overflow: hidden;
    max-height: 145px;
    padding-top: 29px;
    color: #96a3ad;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
}

.member-description:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 64px;
    height: 2px;
    background-color: #D60C48;
}

/* Pricing */
.pricing-content {
    margin: 79px 0 109px;
}

.offer {
    display: inline-block;
    width: 345px;
    border: 3px solid #455268;
    border-radius: 4px;
    background-color: transparent;
    vertical-align: top;
    transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    -webkit-transform: scale(1) !important;
    -o-transform: scale(1) !important;
    -moz-transform: scale(1) !important;
    -webkit-transition: .3s transform;
    -moz-transition: .3s transform;
    -o-transition: .3s transform;
    transition: .3s transform;
}

.offer:hover {
    border-color: #D60C48;
    background-color: #1a161d;
    cursor: pointer;
    z-index: 9999;
    transform: scale(1.1) !important;
    -ms-transform: scale(1.1) !important;
    -webkit-transform: scale(1.1) !important;
    -o-transform: scale(1.1) !important;
    -moz-transform: scale(1.1) !important;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}

.offer:nth-child(2) {
    margin: 0 62px;
}

.offer-header {
    position: relative;
    padding: 35px 0;
    margin: 0 20px;
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    line-height: 1;
    text-align: center;
}

.offer-header:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #455268;
    opacity: 0.35;
}

.offer-body {
    margin: 28px 0 28px;
    text-align: center;
}

.price-sum {
    position: relative;
    color: #fff;
    font-size: 100px;
    font-weight: 300;
    line-height: 1;
}

.price-sum:before {
    content: '$';
    position: absolute;
    top: 23px;
    left: -18px;
    color: white;
    font-size: 35px;
    font-weight: 400;
}

.price-period {
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    line-height: 1;
}

.offer-description {
    min-height: 216px;
    padding-left: 0px;
    margin: 31px 0 28px 88px;
}

.offer-description > li {
    display: block;
    color: #7e889a;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
}

.btn-show {
    border: none;
    background-color: transparent;
    display: none;
}

.btn-show .icon {
    color: #7e889a;
    font-size: 38px;
    -webkit-transition: .3s color;
    -moz-transition: .3s color;
    -o-transition: .3s color;
    transition: .3s color;
}

.btn.btn-show:before {
    content: none;
}

.btn.btn-show:focus, 
.btn.btn-show:active {
    border-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: transparent;
}

.btn-show:hover .icon, 
.btn-show:focus .icon {
    color: #D60C48;
    -webkit-transition: .3s color;
    -moz-transition: .3s color;
    -o-transition: .3s color;
    transition: .3s color;
}

.offer-footer {
    position: relative;
    padding: 46px 0 39px;
    margin: 0 20px;
    text-align: center;
}

.offer-footer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #455268;
    opacity: 0.35;
}

.btn-offer {
    border-color: #455268;
    background-color: #455268;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}

.btn-offer:hover, 
.btn-offer:focus {
    border-color: #D60C48;
    background-color: #D60C48;
    color: #fff;
}

.btn-offer:hover:before {
    background-color: #D60C48;
}

/* Updates */
.updates-footer {
    margin-bottom: 83px;
    text-align: center;
}

.updates-content .name {
    margin-bottom: 18px;
    font-size: 23px;
}

.updates-content .name-lg {
    font-size: 28px;
}

.updates-content {
    position: relative;
    margin-top: 31px;
}

.step {
    position: relative;
    box-sizing: border-box;
    clear: both;
    width: 50%;
    padding: 130px 40px;
    border: none;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}

.step p {
    overflow: hidden;
    width: 270px;
    height: 40px;
    margin: 0;
}

.step .disk {
    content: "";
    position: absolute;
    z-index: 101;
    left: 50%;
    bottom: -10px;
    width: 26px;
    height: 26px;
    border: 3px solid #D60C48;
    border-radius: 130px;
    margin-left: -10px;
    background-color: #fff;
}

.step-right {
    position: relative;
    float: right;
    border-top: 3px solid #D60C48;
    border-right: 3px solid #D60C48;
    border-bottom: 3px solid #D60C48;
    border-radius: 0 163px 163px 0;
    margin-top: -2px;
    text-align: right;
}

.step-content {
    position: relative;
    z-index: 100;
}

.step-decoration {
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.step-decoration .mask {
    position: absolute;
    background-color: #fff;
}

.step-decoration .line-1 {
    top: -3px;
    right: 0;
    width: 100%;
    height: 3px;
    -webkit-transition: .5s width;
    -moz-transition: .5s width;
    -o-transition: .5s width;
    transition: .5s width;
}

.step-decoration .curve-1 {
    bottom: 0;
    right: -3px;
    width: 165px;
    height: 100%;
    -webkit-transition: .5s height .4s;
    -moz-transition: .5s height .4s;
    -o-transition: .5s height .4s;
    transition: .5s height .4s;
}

.step-decoration .line-2 {
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    -webkit-transition: .5s width .8s;
    -moz-transition: .5s width .8s;
    -o-transition: .5s width .8s;
    transition: .5s width .8s; 
}

.step-decoration .line-3 {
    top: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    -webkit-transition: .5s width 1.2s;
    -moz-transition: .5s width 1.2s;
    -o-transition: .5s width 1.2s;
    transition: .5s width 1.2s;  
}

.step-decoration .curve-2 {
    bottom: 0;
    left: -3px;
    width: 165px;
    height: 100%;
    -webkit-transition: .5s height 1.6s;
    -moz-transition: .5s height 1.6s;
    -o-transition: .5s height 1.6s;
    transition: .5s height 1.6s;
}

.step-decoration .line-4 {
    bottom: -3px;
    right: 0;
    width: 100%;
    height: 3px;
    -webkit-transition: .5s width;
    -moz-transition: .5s width;
    -o-transition: .5s width;
    transition: .5s width;
}

.step-decoration .line-5 {
    top: -3px;
    right: 0;
    width: 100%;
    height: 3px;
    -webkit-transition: .5s width .4s;
    -moz-transition: .5s width .4s;
    -o-transition: .5s width .4s;
    transition: .5s width .4s;
}

.step-decoration .curve-3 {
    bottom: 0;
    right: -3px;
    width: 165px;
    height: 100%;
    -webkit-transition: .5s height .8s;
    -moz-transition: .5s height .8s;
    -o-transition: .5s height .8s;
    transition: .5s height .8s;
}

.step-decoration .line-6 {
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    -webkit-transition: .5s width 1.1s;
    -moz-transition: .5s width 1.1s;
    -o-transition: .5s width 1.1s;
    transition: .5s width 1.1s;
}

.section-updates.active .line-1 {
    width: 0%;
}

.section-updates.active .curve-1 {
    height: 0%;
}

.section-updates.active .line-2 {
    width: 0%;
}

.section-updates.active .line-3 {
    width: 0%;
}

.section-updates.active .curve-2 {
    height: 0%;
}

.active-finish.active-next .line-4 {
    width: 0%;
}

.active-finish.active-next .line-5 {
    width: 0%;
}

.active-finish.active-next .curve-3 {
    height: 0%;
}

.active-finish.active-next .line-6 {
    width: 0%;
}

.step-right:nth-child(2) {
    margin-top: 106px;
    margin-bottom: -3px;
}

.step-right:nth-child(4) {
    margin-top: -3px;
}

.step-right .disk {
    right: 0;
    bottom: 50%;
    left: auto;
    margin-right: -13px;
    margin-bottom: -13px;
}

.step-left {
    position: relative;
    float: left;
    border-top: 3px solid #D60C48;
    border-bottom: 3px solid #D60C48;
    border-left: 3px solid #D60C48;
    border-radius: 163px 0 0 163px;
    text-align: left;
}

.step-left .disk {
    left: -40px;
    top: 50%;
    width: 46px;
    height: 46px;
    margin-top: -23px;
    margin-left: -23px;
}

.step-left .step-left {
    border: none;
}

.step.step-left {
    padding: 131px 40px;
}

.step-first, 
.step-last {
    position: absolute;
    top: 0;
    right: 50%;
    float: none;
    clear: both;
    padding: 75px 81px 75px 0;
    border: none;
    margin: 0;
    line-height: 20px;
    text-align: right;
}

.step-last {
    position: relative;
    top: -115px;
    right: 0;
}

.step-first .disk, 
.step-last .disk {
    content: "";
    position: absolute;
    top: 60px;
    right: -51.5px;
    left: auto;
    width: 103px;
    height: 103px;
    border: 3px solid #D60C48;
    border-radius: 130px;
    margin-left: -9px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.section-updates h2 {
    padding-top: 78px;
}

.disk {
    line-height: 97px;
}

.updates-content .arrow-icon, .updates-content .play-icon {
    width: 38px;
    height: 47px;
    vertical-align: middle;
}

.updates-content .play-icon {
    margin-right: 25px;
}

.updates-content .arrow-icon {
    margin-right: 29px;
}

.step-first .disk:hover, 
.step-last .disk:hover {
    background-color: #D60C48;
}

.step .disk:hover path {
    stroke: #fff;
}

.step-center {
    position: absolute;
    top: 0;
    left: 100%;
    display: inline-block;
    width: 270px;
    padding: 35px 0;
    margin-left: -13px;
    text-align: left;
}

.step-center-bottom {
    top: auto;
    bottom: 0;
}

.step-center .disk {
    top: 0;
    left: 0;
    width: 26px;
    height: 26px;
    margin-top: -13px;
    margin-left: 0;
}

.step-center-bottom .disk {
    top: auto;
    bottom: -13px;
    background: #fff;
}

.step-right p, 
.step-first p, 
.step-last p {
    float: right;
}

.btn-info {
    padding: 24px 55px;
    border: 2px #d8dee8 solid;
    border-radius: 50px;
    background-color: #fff;
    color: #384049;
    font-size: 19px;
    font-weight: 400;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.btn-info:hover, 
.btn-info:focus {
    border-color: #D60C48;
    background-color: #D60C48;
}

.btn-info:hover:before {
    background-color: #D60C48;
}

/* Modal(video) */
.modal-dialog {
    width: 90%;
    height: 90%;
}

.modal-content {
    height: 100%;
    border: none;
}

.modal-header {
    padding: 0;
    border-bottom: none;
}

.modal .close {
    position: absolute;
    z-index: 99999;
    top: 0px;
    right: 16px;
    color: #fff;
    font-size: 55px;
    opacity: 1;
    text-shadow: none;
}

.modal .close:focus {
    color: #D60C48;
    outline: none;
}

.modal-body {
    height: 100%;
    padding: 0;
}

.modal-footer {
    border-top: none;
}

/* Contacts */
.section-contact {
    padding: 76px 0;
    background-color: #f7f7f7;
}

.section-contact .subheading {
    margin: 26px auto 0;
}

.contact-form {
    margin-top: 65px;
    text-align: center;
}

.contact-form .field-holder {
    margin-bottom: 41px;
    text-align: left;
}

.contact-form .field {
    height: 62px;
    padding-top: 0;
    padding-bottom: 0;
}

.contact-form .form-control {
    border: 1px transparent solid;
}

.contact-form .form-control.error {
    border-color: #ff0000;
}

.contact-form input, 
.contact-form textarea {
    padding: 23px;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
    color: #384049;
    font-size: 19px;
    resize: none;
}

.contact-form textarea {
    height: 260px;
}

.contact-form input:focus, 
.contact-form textarea:focus {
    box-shadow: none;
}

label.error {
    margin-top: 10px;
    color: #ff0000;
    font-size: 14px;
    font-weight: 300;
}

.btn-contact {
    padding: 24px 44px;
    border-radius: 50px;
    margin-top: 43px;
    font-size: 24px;
    font-weight: 400;
}

.btn-contact:hover, 
.btn-contact:focus {
    border-color: #455268;
    background-color: #455268;
    color: #fff;
}

.btn-contact:hover:before {
    background-color: #455268;
}

/* Footer */
.footer {
    background-color: #181b20;
}

.footer h2 {
    padding-top: 51px;
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
}

.footer-nav {
    padding-left: 0;
    margin: 32px 0 0;
    text-align: center;
}

.footer-nav > li {
    display: inline-block;
    margin-right: 30px;
}

.footer-nav > li:last-child {
    margin-right: 0;
}

.footer-nav > li > a {
    position: relative;
    color: #626e81;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

.footer-nav > li > a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #D60C48;
    -webkit-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.footer-nav > li > a:hover:after, 
.footer-nav > li > a:focus:after {
    width: 100%;
}

.footer-nav > li > a.active {
    color: #fff;
}

.footer-nav > li > a:hover, 
.footer-nav > li > a:focus {
    color: #D60C48;
    text-decoration: none;
}

.footer-social {
    padding-left: 0;
    margin: 34px 0 0;
    text-align: center;
}

.footer-social > li {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 1px;
}

.footer-social > li:last-child {
    border-radius: 100%;
    margin-right: 0;
}

.footer-social > li > a {
    display: inline-block;
    color: #fff;
    font-size: 31px;
    vertical-align: middle;
    line-height: 50px;
    -webkit-transition: color linear 0.3s;
    -moz-transition: color linear 0.3s;
    -o-transition: color linear 0.3s;
    transition: color linear 0.3s;
}

.footer-social > li > a:hover, 
.footer-social > li > a:focus {
    color: #D60C48;
    text-decoration: none;
    -webkit-transition: linear 0.3s;
    -moz-transition: linear 0.3s;
    -o-transition: linear 0.3s;
    transition: linear 0.3s;
}

.footer-copyrights {
    padding: 28px 0px 57px;
    text-align: center;
}

.copyrights-date {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}

.copyrights-text {
    color: #5a6577;
    font-size: 14px;
    font-weight: 300;
}

/* media(1399) */
@media (max-width: 1399px) {
    .review {
        padding: 30px 20px 30px 73px;
        font-size: 17px;
        line-height: 28px;
    }

    .review:before {
        top: 40px;
        left: 20px;
    }
}

/* media(1229) */
@media (max-width: 1229px) {
    .banner-decoration {
        margin-left: 56px;
    }

    .banner-content {
        margin-right: 45px;
    }

    .container {
        width: 970px;
    }

    .store {
        margin-bottom: 20px;
        width: 400px;
    }

    .store:first-child {
        float: left;
    }

    .store:nth-child(2) {
        float: right;
    }

    .store:last-child {
        float: none;
    }

    .social-content {
        margin-left: -4px;
    }

    .social-content > li:last-child {
        margin-right: 40px;
    }

    .social-content > li {
        margin: 20px 40px 0;
    }

    .team-content {
        text-align: center;
    }

    .member {
        margin-bottom: 40px;
    }

    .member:first-child {
        margin-right: 65px;
    }

    .member:last-child {
        margin: 0;
    }

    .member-post {
        text-align: center;
    }

    .member-name {
        text-align: center;
    }

    .member-description {
        text-align: center;
    }

    .member-description:before {
        left: 5%;
        width: 90%;
    }

    .pricing-content {
        text-align: center;
    }

    .offer {
        margin-bottom: 40px;
    }

    .offer:nth-child(2) {
        margin-right: 0px;
    }

    .offer:last-child {
        margin-bottom: 0px;
    }

    .features {
        margin-top: 40px;
        margin-left: 90px;
    }

    .features-left, .features-right {
        float: none;
        text-align: left;
    }

    .feature {
        display: inline-block;
        margin-bottom: 50px;
        vertical-align: top;
    }

    .feature:nth-child(2) {
        padding-left: 30px;
        padding-right: 80px;
    }

    .feature:last-child {
        margin-bottom: 50px;
    }

    .feature-disk {
        top: -7.5px;
    }

    .features-left .feature-disk {
        right: 3px;
    }

    .features-right .feature {
        padding-right: 104px;
        padding-left: 0;
    }

    .features-right .feature-disk {
        right: 3px;
        left: auto;
    }

    .features-decoration {
        float: right;
        margin-top: -185px;
        margin-right: 125px;
    }
}

/* media(991) */
@media (max-width: 991px) {
    
    h1 {
        margin-bottom: 15px;
        font-size: 40px;
    }
    
    .container {
        width: 750px;
    }

    .subheading {
        width: auto;
    }

    .banner-decoration {
        margin-left: 0;
    }

    .banner-content {
        max-width: 320px;
        margin-right: 0;
        text-align: center;
    }

    .banner-description {
        margin-bottom: 20px;
    }

    .banner-content .btn {
        width: 80%;
        margin-bottom: 15px;
        margin-left: 0;
    }

    .features {
        margin-top: 40px;
        margin-left: 0;
    }

    .features-left, 
    .features-right {
        float: none;
        text-align: left;
    }

    .feature {
        display: inline-block;
        margin-bottom: 50px;
        vertical-align: top;
    }

    .feature:last-child {
        margin-bottom: 50px;
    }

    .features-right .feature {
        padding-right: 104px;
        padding-left: 0;
    }

    .features-decoration {
        float: right;
        margin-top: -185px;
        margin-right: 0;
    }

    .store:first-child, 
    .store:nth-child(2) {
        float: none;
    }

    .store-icon {
        padding-right: 10px;
    }

    .member:first-child {
        margin-right: 30px;
    }

    .offer:nth-child(2) {
        margin: 0 20px 40px;
    }
}

/* media(767) */
@media (max-width: 767px) {
    
    h1 {
        margin-bottom: 20px;
        font-size: 33px;
    }

    h2 {
        font-size: 45px;
    }
    
    .container {
        width: auto;
    }

    .subheading {
        margin: 0 auto 30px;
        font-size: 17px;
        line-height: 24px;
    }

    .section-dark h2, 
    .section-light, .section-light-grey h2, 
    .section-deep h2 {
        padding-top: 65px;
    }

    .section-light, .section-light-grey .subheading, 
    .section-deep .subheading {
        margin-top: 20px;
    }

    .btn {
        padding: 15px 35px;
        font-size: 15px;
    }

    .header {
        top: 0;
    }

    .header .navbar-brand {
        width: 56px;
        height: 56px;
        margin-left: 15px !important;
        font-size: 46px;
        line-height: 29px;
    }
    
    .nav-wrapper {
        position: static;
        height: auto; 
    }
    
    .nav-wrapper.animate .navbar-nav > li.open > .dropdown-menu,
    .nav-wrapper.closed .navbar-nav > li.open > .dropdown-menu {
        display: block;
    }
    
    .navbar {
        padding-top: 5px;
    }

    .btn-nav {
        display: none;
    }

    .navbar-nav {
        position: static;
        -webkit-transition: height 0.3s;
        -moz-transition: height 0.3s;
        -o-transition: height 0.3s;
        transition: height 0.3s;
    }

    .navbar-nav.closed {
        top: auto;
    }

    .navbar-nav > li {
        text-align: center;
    }

    .navbar-nav > li:last-child {
        display: none;
    }

    .navbar-nav > li > .dropdown-menu {
        display: none;
    }

    .navbar-nav > li.open > .dropdown-menu {
        display: block;
    }

    .navbar-nav .open .dropdown-menu > li > a {
        position: relative;
        padding: 15px 0;
        text-align: center;
    }

    .navbar-nav .open .dropdown-menu > li > a:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 1px;
        -webkit-transition: width .3s ease-in-out;
        -moz-transition: width .3s ease-in-out;
        -o-transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
    }

    .navbar-nav .open .dropdown-menu > li > a:hover:after, 
    .navbar-nav .open .dropdown-menu > li > a:focus:after {
        width: 100%;
    }

    .navbar-default {
        -webkit-transition: .3s background-color .3s;
        -moz-transition: .3s background-color .3s;
        -o-transition: .3s background-color .3s;
        transition: .3s background-color .3s;
    }

    .navbar-default .navbar-nav > li > a {
        padding: 15px 0;
        border: none;
        margin: 0;
    }

    .navbar-default .navbar-nav > li > a:hover, 
    .navbar-default .navbar-nav > li > a:focus {
        color: #D60C48;
        outline: none;
    }

    .navbar-default .navbar-nav > li > .dropdown-menu {
        background-color: transparent;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:after {
        background-color: #D60C48;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, 
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #D60C48;
    }

    .navbar-default.opened {
        background-color: rgba(0, 0, 0, 0.8);
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
    }

    .navbar-toggle {
        z-index: 9999;
        margin-top: 11px;
    }

    .banner-decoration {
        display: none;
    }

    .banner-wrapper {
        position: relative;
    }

    .banner {
        min-height: 430px;
        margin-top: 0;
    }

    .banner-content {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 300px;
        margin-left: -150px;
        margin-top: -140px;
    }

    .banner-content h1 {
        font-size: 26px;
    }

    .banner-description {
        font-size: 16px;
        line-height: 25px;
    }

    .banner .btn {
        width: 100%;
        margin-bottom: 15px;
    }

    .features {
        padding: 40px 0 0;
        margin: 30px 0 0;
    }

    .feature-name {
        font-size: 25px;
    }

    .feature {
        text-align: center;
        padding: 90px 0 0 0 !important;
        width: 100%;
    }

    .feature-disk {
        top: 0;
        left: 50% !important;
        width: 64px;
        height: 64px;
        margin-left: -37px;
    }

    .feature-disk .icon {
        margin: 17px auto;
    }

    .features-decoration {
        display: none;
    }

    .stores {
        padding: 40px 0px;
    }

    .store {
        width: 80%;
        height: 80px;
        min-width: 306px;
    }

    .store-icon {
        font-size: 40px;
        line-height: 80px;
    }

    .store svg {
        width: 50px;
        height: 38px;
    }

    .store-name {
        line-height: 80px;
        font-size: 30px;
    }

    .social-content {
        margin: 20px 0 40px;
    }

    .social-content > li:last-child {
        margin-right: 20px;
    }

    .social-content > li {
        margin: 20px 20px 0;
    }

    .team-content {
        margin: 40px 0;
    }

    .member {
        margin: 0 20px 40px;
    }

    .member:first-child {
        margin-right: 0;
    }

    .social-container {
        opacity: 1;
    }

    .member-post {
        margin-top: 20px;
    }

    .member-name {
        margin-bottom: 20px;
    }

    .member-description {
        padding-bottom: 22px;
    }

    .carousel-decoration {
        width: 223px;
        height: 440px;
        margin-left: -111.5px;
    }

    .screenshot-carousel {
        height: 485px;
    }

    .screenshot-carousel .owl-stage-outer {
        height: 440px;
    }

    .screenshot-carousel .image-holder {
        margin-top: 52px;
        width: 184px;
        height: 324px;
    }

    .section-video {
        height: 100%;
    }

    .section-video h2 {
        top: 30px;
    }

    .section-video .subheading {
        top: 109px;
        left: 0;
        max-width: 100%;
        margin-left: 0;
        padding: 0 15px;
    }

    .vjs-youtube-mobile .vjs-big-play-button {
        display: inline-block !important;
    }

    .updates-content {
        margin-top: 20px;
        margin-bottom: 70px;
    }

    .step, 
    .step-right, 
    .step-left .step-left, 
    .step-first, 
    .step-last {
        position: relative;
        float: none;
        right: 0;
        left: 0;
        width: 100%;
        padding: 40px 0;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 2px solid #D60C48;
        border-radius: 0;
        margin: 0 auto;
        text-align: center;
    }

    .step.step-left {
        padding: 0;
    }

    .updates-content p {
        float: none;
        width: 100%;
        height: auto;
        padding: 10px 0;
        margin: auto;
        line-height: 24px;
    }

    .step-first .disk, 
    .step-last .disk {
        top: auto;
        right: 0;
        bottom: 0;
        left: 50%;
        width: 70px;
        height: 70px;
        margin-bottom: -37px;
        margin-left: -35px;
        line-height: 64px;
    }

    .updates-content .arrow-icon, 
    .updates-content .play-icon {
        width: 28px;
        height: 37px;
        margin-right: 0px;
    }

    .step-right .disk {
        bottom: 0;
        left: 50%;
        margin: 0 0 -13px -13px;
    }

    .step.step-left {
        border: none;
    }

    .step-left .disk {
        top: auto;
        bottom: -23px;
        left: 50%;
        margin-left: -23px;
    }

    .step-center .disk {
        top: auto;
        bottom: 0;
        left: 50%;
        margin: 0 0 -13px -13px;
    }

    .step-right:nth-child(2) {
        margin: 0;
    }

    .updates-content .play-icon {
        margin-right: -7px;
    }

    .step-last {
        top: 0;
    }

    .updates-footer {
        margin-bottom: 40px;
    }

    .modal-video, .modal-updates {
        padding-right: 0 !important;
    }

    .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .mask {
        display: none;
    }

    .pricing-content {
        max-width: 100%;
        padding: 0 20px;
        margin: 40px 0px;
        margin-left: 0;
    }

    .pricing-content {
        margin: 40px 0;
    }

    .offer:nth-child(2) {
        margin: 0 0 40px;
    }

    .offer-header {
        padding: 20px 0;
    }

    .offer-body {
        margin: 20px 0;
    }

    .price-sum {
        font-size: 50px;
    }

    .price-sum:before {
        top: 12px;
        left: -17px;
        font-size: 20px;
    }

    .offer-description {
        display: none;
        min-height: 0;
        margin: 20px 0 20px 40px;
    }

    .btn-show {
        display: inline-block;
        padding: 0;
    }

    .offer-footer {
        padding: 20px 0 20px;
    }

    .section-contact {
        padding: 40px 0;
    }

    .section-contact .field-holder {
        margin-bottom: 15px;
    }

    .contact-form-wrapper .btn {
        margin-top: 50px;
    }

    .footer-nav > li {
        margin: 0px 15px 15px;
    }

    .footer-social {
        margin-top: 30px;
    }

    .footer-social > li {
        margin: 0 13px;
    }
}

/*media(500)*/
@media (max-width: 500px) {
    .store-name {
        font-size: 25px;
    }

    .reviews-carousel .review:after {
        left: 28px;
    }

    .review-author {
        margin-top: 35px;
        margin-left: 10px;
    }

    .member {
        width: 100%;
        max-width: 345px;
        margin: 0 0 40px;
    }

    .member .image-holder {
        width: 100%;
        height: auto;
    }

    .member .image-holder > img {
        height: auto;
    }
}

/*media(400)*/
@media (max-width: 400px) {
    .store {
        width: 100%;
        min-width: 0;
    }

    .store-icon {
        font-size: 40px;
    }

    .social-content > li:last-child {
        margin-right: 10px;
    }

    .offer, .offer:nth-child(2) {
        width: 100%;
    }
}


/* index page */
.home {
    background-color: #f0f4f9;
}

.home .container {
    max-width: 1071px;
}

.home-header {
    overflow: hidden;
}

.home-header-content {
    position: relative;
    padding-top: 117px;
}

.home-decoration {
    z-index: 100;
    position: absolute;
    top: -38px;
    left: 0;
    opacity: 0.35;
    color: #dbe3eb;
    font-size: 220px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 9.9px;
    line-height: 1;
    white-space: nowrap;
}

.home-header-line {
    z-index: 101;
    position: relative;
    margin: 0;
    color: #1c222b;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
}

.home-content {
    padding-top: 46px;
    padding-bottom: 42px;
    text-align: center;
}

.page-link {
    display: inline-block;
    margin-bottom: 65px;
    color: #5b6c85;
    text-align: left;
}

.page-link:hover,
.page-link:focus {
    text-decoration: none;
}

.page-link-ios {
    float: left;
}

.page-link-android {
    float: right;
}

.page-link-line {
    margin: 0 0 21px;
    font-size: 23px;
    font-weight: 300;
}

.page-icon {
    overflow: hidden;
    position: relative;
    width: 490px;
    height: 448px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-box-shadow: 0 6px 34px 3px rgba(0, 0, 0, .2);
    box-shadow: 0 6px 34px 3px rgba(0, 0, 0, .2);
    -webkit-transition: .3s -webkit-box-shadow,
                        .3s box-shadow,
                        .3s -webkit-transform,
                        .3s -moz-transform-transform,
                        .3s -ms-transform,
                        .3s transform;
    -moz-transition: .3s -webkit-box-shadow,
                     .3s box-shadow,
                     .3s -webkit-transform,
                     .3s -moz-transform-transform,
                     .3s -ms-transform,
                     .3s transform;
    -o-transition: .3s -webkit-box-shadow,
                   .3s box-shadow,
                   .3s -webkit-transform,
                   .3s -moz-transform-transform,
                   .3s -ms-transform,
                   .3s transform;
    transition: .3s -webkit-box-shadow,
                .3s box-shadow,
                .3s -webkit-transform,
                .3s -moz-transform-transform,
                .3s -ms-transform,
                .3s transform;
}

.page-icon:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    -webkit-transition: .3s background-color;
    -moz-transition: .3s background-color;
    -o-transition: .3s background-color;
    transition: .3s background-color;
}

.page-link.coming-soon .page-icon:after,
.page-link.coming-soon:hover .page-icon:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(256, 256, 256, .8) url('../img/decore/home/comin_soon.png') no-repeat center;
}

.page-link:hover .page-icon {
    -webkit-box-shadow: 0 17px 58px 10px rgba(0, 0, 0, .3);
    box-shadow: 0 17px 58px 10px rgba(0, 0, 0, .3);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}

.page-link:active .page-icon {
    -webkit-box-shadow: 0px 0px 44px 7px rgba(0, 0, 0, .2);
    box-shadow: 0px 0px 44px 7px rgba(0, 0, 0, .2);
    -webkit-transform: scale(.96);
    -moz-transform: scale(.96);
    -ms-transform: scale(.96);
    transform: scale(.96);
}

.page-btn-preview {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 231px;
    height: 62px;
    margin-top: -31px;
    margin-left: -115.5px;
    border-color: #D60C48;
    background-color: #D60C48;
    opacity: 0;
    -webkit-transition: .3s opacity;
    -moz-transition: .3s opacity;
    -o-transition: .3s opacity;
    transition: .3s opacity;
}

.page-btn-preview:hover,
.page-btn-preview:focus {
    color: #fff;
}

.page-btn-preview:before {
    content: none;
}

.page-link:hover .page-btn-preview{
    opacity: 1;
}

.page-link:hover .page-icon:after {
    background-color: rgba(256, 256, 256, .8);
}

@media (max-width: 1229px) {
    .page-link-ios,
    .page-link-android {
        float: none;
    }
}

@media (max-width: 550px) {
    .page-link {
        width: 100%;
    }
    
    .page-icon {
        width: 100%;
        height: 85vw;
        max-width: 100%;
    }
    
    .page-btn-preview {
        width: 200px;
        height: 50px;
        margin-top: -25px;
        margin-left: -100px;
        opacity: 1;
    }
    
    .page-icon:after {
        background-color: rgba(256, 256, 256, .8); 
    }
}

/*Desctop Page*/

/*Desctop Banner*/
.banner-desktop-wrapper {
    position: relative;
    z-index: 100;
    background: -moz-radial-gradient(center, ellipse cover, rgba(250,107,91,.8) 0%, rgba(163,52,130,.8) 100%, rgba(163,52,130,.8) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(250,107,91,.8)), color-stop(100%, rgba(163,52,130,.8)), color-stop(100%, rgba(163,52,130,.8)));
    background:-webkit-radial-gradient(center, ellipse cover, rgba(250,107,91,.8) 0%, rgba(163,52,130,.8) 100%, rgba(163,52,130,.8) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(250,107,91,.8) 0%, rgba(163,52,130,.8) 100%, rgba(163,52,130,.8) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(250,107,91,.8) 0%, rgba(163,52,130,.8) 100%, rgba(163,52,130,.8) 100%);
    background: radial-gradient(ellipse at center, rgba(250,107,91,.8) 0%, rgba(163,52,130,.8) 100%, rgba(163,52,130,.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D60C48', endColorstr='#D60C48',GradientType=0 );
}

.banner-desktop-wrapper .section-content {
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.banner-desktop-content {
    margin-top: 245px;
    text-align: center;
}

.banner-header {
    margin-bottom: 51px;
    color: #fff;
    font-size: 65px;
    font-weight: 300;
}

.banner-desktop-decoration {
    width: 980px;
    height: 616px;
    margin: 75px auto 0;
}

.banner-desktop-decoration .image-holder {
    height: 100%;
}

/*Services*/
.services {
    margin-top: 63px;
}

.service {
    position: relative;
    padding: 18px 20px 0 98px;
    margin-bottom: 42px;
}

.service-disk {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 74px;
    height: 74px;
    border: 1px solid #e2e6e9;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: no-repeat center;
    -webkit-transition: .1s background-color,
                        .1s border-color;
    -moz-transition: .1s background-color,
                     .1s border-color;
    -o-transition: .1s background-color,
                   .1s border-color;
    transition: .1s background-color,
                .1s border-color;
}

.service-disk:hover {
    background-color: #D60C48;
    border-color: #D60C48;
}

.service-disk-pin {
    background-image: url('../img/ic-pin.png');
}

.service-disk-share {
    background-image: url('../img/ic-share.png');
}

.service-disk-chat {
    background-image: url('../img/ic-chat.png');
}

.service-disk-friend {
    background-image: url('../img/ic-friends.png');
}

.service-disk-star {
    background-image: url('../img/ic-star.png');
}

.service-disk-locale {
    background-image: url('../img/ic-locate.png');
}

.service-disk-pin:hover {
    background-image: url('../img/ic-pin-hover.png');
}

.service-disk-share:hover {
    background-image: url('../img/ic-share-hover.png');
}

.service-disk-chat:hover {
    background-image: url('../img/ic-chat-hover.png');
}

.service-disk-friend:hover {
    background-image: url('../img/ic-friends-hover.png');
}

.service-disk-star:hover {
    background-image: url('../img/ic-star-hover.png');
}

.service-disk-locale:hover {
    background-image: url('../img/ic-locate-hover.png');
}

.service-name {
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 15px;
    color: #362f2d;
    font-size: 30px;
    font-weight: 300;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.service-desc {
    overflow: hidden;
    height: 63px;
    color: #362f2d;
    font-size: 15px;
}

/*Desctop Screenshots*/
.carousel-desctop-decoration {
    position: absolute;
    top: 0;
    left: 50%;
    width: 899px;
    height: 596px;
    margin-left: -449.5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.desktop-carousel {
    height: 695px;
}

.desktop-carousel .owl-stage-outer {
    height: 650px;
}

.desktop-carousel .owl-item {
    opacity: 0.25;
    text-align: center;
    cursor: pointer;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8);
    -webkit-transition: .3s opacity,
                        .3s transform;
    -moz-transition: .3s opacity,
                     .3s transform;   
    -o-transition: .3s opacity,
                   .3s transform;
    transition: .3s opacity,
                .3s transform;
}

.desktop-carousel .center {
    transform: scale(1);
    opacity: 1;
}

.desktop-carousel .image-holder {
    width: 899px;
    height: 596px;
    max-width: 100%;
    margin: 0 auto;
    background: center no-repeat;
    background-size: cover;
    -webkit-transition: .1s transform;
    -moz-transition: .1s transform;
    -o-transition: .1s transform;
    transition: .1s transform;
}

.desktop-carousel .owl-item img {
    display: inline;
    width: 100%;
    height: 100%;
}

.desktop-carousel .owl-dots {
    margin-top: 24px;
    text-align: center;
}

.desktop-carousel .owl-dot {
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 100%;
    margin: 0 6px;
    background-color: #f4f2f2;
}

.desktop-carousel .owl-dot:hover {
    background-color: #fcb5ad;
}

.desktop-carousel .owl-dot.active {
    background-color: #D60C48;
}

/*Address*/
.address {
    margin-top: 25px;
    margin-bottom: 59px;
    color: #384049;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.map {
    background-size: cover;
    width: 100%;
    max-width: 100%;
    height: 666px;
}

.btn-desctop {
    background-color: transparent;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

.btn-desctop:hover, 
.btn-desctop:focus, 
.btn-desctop:active, 
.btn-desctop:active:focus {
    background-color: #fff;
    color: #D60C48;
}

.btn-desctop:hover:before {
    background-color: #fff;
}

@media (max-width: 1199px) {
    .banner-desktop-decoration {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 991px) {
    .carousel-desctop-decoration {
        display: none;
    }
    
    .desktop-carousel .image-holder {
        margin-top: 0;
    }
}

@media (max-width: 767px) {
    .banner-desktop-decoration {
        display: none;
    }
    
    .banner-desktop-content {
        margin-top: 145px;
        padding-bottom: 78px;
    }
    
    .banner-header {
        font-size: 45px;
    }
    
    .service-disk {
        top: 50%;
        margin-top: -37px;
    }
}